// ======================================================
//
// ブロックスタイル - アクセスMAP（エディタ・フロント共通のスタイル）
//
// ======================================================

// ------------------------------------------------------
// 設定・読み込み・変数など
// ------------------------------------------------------
@use "../../../../src/css/import" as i;

// ------------------------------------------------------
// スタイル
// ------------------------------------------------------
.is-style-RJE_R001CORP_access{
	iframe{
    --rje001-height: 240px;
		width: 100%;
		height: var(--rje001-height);
		@include i.mq(sm){
			--rje001-height: 400px;
		}
	}
	.smb-buttons{
    --rje001-btn-mt: #{i.px_to_rem(10)};
		margin-top: var(--rje001-btn-mt);
		font-size: #{i.px_to_rem(12)};
		@include i.mq(sm){
      --rje001-btn-mt: #{i.px_to_rem(16)};
		}
	}
	.smb-btn{
		min-width: #{i.px_to_rem(128)};
		padding: #{i.px_to_rem(8) i.px_to_rem(10)};
    line-height: 1.5;
	}
}
.RJE_R001CORP_access__map_container:not(:root){
  --rje001-map-mt: 1rem;
	margin-top: var(--rje001-map-mt);
	@include i.mq(sm){
    --rje001-map-mt: #{i.px_to_rem(24)};
	}
}
