// ======================================================
//
// ブロックスタイル - 任意ページへ誘導（エディター固有のスタイル）
//
// ======================================================

// ------------------------------------------------------
// 設定・読み込み・変数など
// ------------------------------------------------------
@use "../../../../src/css/import" as i;

// ------------------------------------------------------
// スタイル
// ------------------------------------------------------
.is-style-RJE_R001CORP_induction:not(:root){
	&.smb-section-break-the-grid--top,
	&.smb-section-break-the-grid--bottom{
		position: relative;
		padding: 2.5rem 1rem 1rem;
		background-color: rgba(#e00, 0.14);
		border: 1px dotted #e00;
		&::before{
			position: absolute;
			top: 0;
			left: 0;
			display: block;
			background-color: #e00;
			font-size: 0.857rem;
			font-weight: bold;
			color: #fff;
			z-index:3;
		}
	}
	&.smb-section-break-the-grid--top{
		&::before{
			content: "メディアを上に表示は対象外です";
		}
	}
	&.smb-section-break-the-grid--bottom{
		&::before{
			content: "メディアを下に表示は対象外です";
		}
	}
}
