// ======================================================
//
// ブロックスタイル - 重なりキャッチ2（フロント固有のスタイル）
//
// ======================================================

// ------------------------------------------------------
// 設定・読み込み・変数など
// ------------------------------------------------------
@use "../../../../src/css/import" as i;

// ------------------------------------------------------
// スタイル
// ------------------------------------------------------

// ------------------------------------------------------
// サイドバー左/右 以外のテンプレートの場合
//
body:not([data-has-sidebar="true"]){
	.is-style-RJE_R001CORP_layered2:not(:root){
		> .smb-section__inner > .c-container{
			> .smb-section__contents-wrapper{
				> .smb-section__body{
					// ------------------------------------------------------
					// セクション
					//
					> .smb-section{
						@include i.mq(lg){
              --rje001-section-padding: #{#{i.px_to_rem(80)}};
              --rje001-section-width: 92%;
							// width: var(--rje001-section-width);
							// padding-top: var(--rje001-section-padding);
							// padding-bottom: var(--rje001-section-padding);
						}
						> .smb-section__inner > .c-container{
							@include i.mq(lg){
                --rje001-section-padding: #{#{i.px_to_rem(86)}};
								// padding-right: #{i.px_to_rem(86)};
								// padding-left: #{i.px_to_rem(86)};
							}
							> .smb-section__contents-wrapper{
								> .c-row{
									@include i.mq(sm){
										@include i.mq(md,max,true){
											display: block;
										}
									}
									@include i.mq(md){
										flex-wrap: nowrap;
									}
									> .c-row__col{
										@include i.mq(sm){
											@include i.mq(md,max,true){
												max-width: 100%;
												padding-right: 0;
												padding-left: 0;
											}
										}
										&:first-child{
											@include i.mq(md){
												flex: 1 0 auto;
												max-width: none;
											}
											@include i.mq(lg){
												padding-right: 45px;
											}
										}
										&:last-child{
											@include i.mq(md){
												flex: auto;
												max-width: none;
												border-left: 1px solid #CFCFCF;
											}
											@include i.mq(lg){
												padding-left: 45px;
											}
										}
										> .smb-section__header{
											.smb-section__title{
												@include i.mq(lg){
                          --_font-size-level: 4.8;
													// font-size: #{i.px_to_rem(40)};
													line-height: 1.6;
												}
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

// ------------------------------------------------------
// サイドバーのテンプレートの場合
//
body[data-has-sidebar="true"]{
	.is-style-RJE_R001CORP_layered2:not(:root){
		> .smb-section__inner > .c-container{
			> .smb-section__contents-wrapper{
				> .smb-section__body{
					// ------------------------------------------------------
					// セクション
					//
					> .smb-section{
            --rje001-section-padding: #{#{i.px_to_rem(24)}};
						// padding-top: var(--rje001-section-padding);;
						// padding-bottom: var(--rje001-section-padding);;
						> .smb-section__inner > .c-container{
							// padding-left: #{i.px_to_rem(24)};
							// padding-right: #{i.px_to_rem(24)};
							> .smb-section__contents-wrapper{
								> .c-row{
									@include i.mq(sm){
										display: block;
									}
									> .c-row__col{
										@include i.mq(sm){
											max-width: 100%;
											padding-right: 0;
											padding-left: 0;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
