// ======================================================
//
// ブロックスタイル - 沿革 - 年（エディタ・フロント共通のスタイル）
//
// ======================================================

// ------------------------------------------------------
// 設定・読み込み・変数など
// ------------------------------------------------------
@use "../../../../src/css/import" as i;
//ローカル変数
$label_width: calc(4rem + 0.5rem + 64px);
$body_width: calc(100% - (4rem + 0.5rem + 64px));

// ------------------------------------------------------
// スタイル
// ------------------------------------------------------
.is-style-RJE_R001CORP_history_year{
	>.smb-information__body{
		> .smb-information__item{
			&:not(:first-child){
				margin-top: i.px_to_rem(18);
				@include i.mq(sm){
					margin-top: 0;
				}
			}
			> .c-row{
        --_gap: 0;
				> .c-row__col{
					> .smb-information__item__label{
            flex-direction: initial;
            align-items: center;
						font-weight: bold;
						&:not(:empty)::after{
							content: "";
							top: calc( 50% - 1px );
							display: inline-block;
							width: i.px_to_rem(64);
							height: 1px;
							margin-left: 0.5em;
							background-color: #CFCFCF;
						}
					}
				}
				//ラベル側の幅
				> .c-row__col--1-3,
				> .c-row__col--1-4{
          --_item-width: #{$label_width};
				}
				> .c-row__col--md-1-3,
				> .c-row__col--md-1-4{
					@include i.mq(sm){
            --_item-width: #{$label_width};
					}
				}
				//boby側の幅
				> .c-row__col--3-3,
				> .c-row__col--3-4{
          --_item-width: #{$body_width};
					padding-left: 8px;
				}
				> .c-row__col--md-3-3,
				> .c-row__col--md-3-4{
					@include i.mq(sm){
            --_item-width: #{$body_width};
						padding-left: 8px;
					}
				}
			}
		}
	}
  //ラベルの縦位置が上の場合
  &[data-label-vertical-align="top"] > .smb-information__body	> .smb-information__item  > .c-row > .c-row__col > .smb-information__item__label{
    flex-grow: unset;
  }
  //スマホ時はカラム分割しない場合は、ラベルが左寄せになるようにする
  &:not([data-sm-split-column]) > .smb-information__body	> .smb-information__item  > .c-row > .c-row__col > .smb-information__item__label{
    @include i.mq(sm, max, true ){
      justify-content: flex-start;
      margin-bottom: 1rem;
    }
  }

}

