// ======================================================
//
// ブロックスタイル - 重なりキャッチ1（エディタ・フロント共通のスタイル）
//
// ======================================================

// ------------------------------------------------------
// 設定・読み込み・変数など
// ------------------------------------------------------
@use "../../../../src/css/import" as i;

// ------------------------------------------------------
// スタイル
// ------------------------------------------------------
.is-style-RJE_R001CORP_layered1:not(:root){
  --smb-section--padding: 0;
	// padding-top: 0;
	// padding-bottom: 0;
	> .smb-section__inner > .c-container{
    --_container-margin-right: 0;
    --_container-margin-left: 0;
		// padding-right: 0;
		// padding-left: 0;
		// width: 100% !important;
		> .smb-section__contents-wrapper{
			width: 100%;
			> .smb-section__header{
				display: none;
			}
			> .smb-section__body{
				// ------------------------------------------------------
				// カバー
				//
				.wp-block-cover__inner-container{
					padding-bottom: 100px; //下めり込み分
					p{
						line-height: 1.5;
					}
				}
				// ------------------------------------------------------
				// セクション
				//
				> .smb-section{
          --rje-r001-section-width: 97%;
          --smb-section--padding: #{i.px_to_rem(24)};
					width: var(--rje-r001-section-width);
					max-width: 1380px;
					margin-top: -100px;
					// padding-top: i.px_to_rem(24);
					// padding-bottom: i.px_to_rem(24);
					z-index: 1;
					> .smb-section__inner > .c-container{
            // margin-right: 0;
            // margin-left: 0;
						padding-right: var(--smb-section--padding);
						padding-left: var(--smb-section--padding);
						> .smb-section__contents-wrapper{
              // width: 100%;
							> .smb-section__header{
								.smb-section__title{
                  --_font-size-level: 3.43; //約28px
									// font-size: i.px_to_rem(28);
									&::after{
										width: 120px;
										margin-top: calc(1rem + ((1vw - 0.2rem) * 3.4091));
										background-color: #CFCFCF;
									}
								}
								.smb-section__lede-wrapper{
									margin-top: calc(1rem + ((1vw - 0.2rem) * 3.4091));
									max-width: 640px;
									margin-right: auto;
									margin-left: auto;
								}
								.smb-section__lede{
                  --_font-size-level: 0;
									// font-size: 1rem;
								}
							}
							> .smb-section__body{
								display: none;
							}
						}
					}
					//左
					> .is-content-justification-left > .c-container > .smb-section__contents-wrapper > .smb-section__header {
						.smb-section__lede-wrapper{
							margin-left: 0;
						}
					}
					//右
					> .is-content-justification-right > .c-container > .smb-section__contents-wrapper > .smb-section__header {
						.smb-section__lede-wrapper{
							margin-right: 0;
						}
					}
				}
			}
		}
	}
}

// ------------------------------------------------------
// 左寄せ
//
.is-style-RJE_R001CORP_layered1:not(:root) > .is-content-justification-left{
	.smb-section{
		margin-left: 0 !important;
	}
}

// ------------------------------------------------------
// 右寄せ
//
.is-style-RJE_R001CORP_layered1:not(:root) > .is-content-justification-right{
	.smb-section{
		margin-right: 0 !important;
	}
}
