// ======================================================
//
// ブロックスタイル - 背景画像あり項目（エディター固有のスタイル）
//
// ======================================================

// ------------------------------------------------------
// 設定・読み込み・変数など
// ------------------------------------------------------
// @use "../../../../src/css/import" as i;

// ------------------------------------------------------
// スタイル
// ------------------------------------------------------
@mixin styles () {
  .is-style-RJE_R001CORP_items_with_bg{
    .smb-items__item:not(.smb-items__banner){
      position: relative;
      &::before{
        content: "このパターン内では非推奨です";
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        padding: 0.25rem;
        background-color: rgba(#e00, 0.7);
        font-size: 0.75rem;
        font-weight: bold;
        color: #fff;
        z-index: 2;
      }
    }
  }
}

@include styles;
.editor-styles-wrapper{
  @include styles;
}
