// ======================================================
//
// コーポレートサイト向けパターン共通のスタイル
//
// ======================================================

// ------------------------------------------------------
// 設定・読み込み・変数など
// ------------------------------------------------------
// @use "variable" as v;
// @use "import" as i;

// ------------------------------------------------------
// パターン共通のスタイル.
// ------------------------------------------------------
[class*="RJE_R001CORP"] {
	letter-spacing: 0.1em;
}

//WordPress6.7から導入されたimageのsizeの指定を初期化
img:is([sizes="auto" i], [sizes^="auto," i]) {
  contain-intrinsic-size: initial;
}
