// ======================================================
//
// ブロックスタイル - アコーディオン（エディタ・フロント共通のスタイル）
//
// ======================================================

// ------------------------------------------------------
// 設定・読み込み・変数など
// ------------------------------------------------------
@use "../../../../src/css/import" as i;

// ------------------------------------------------------
// スタイル
// ------------------------------------------------------
.is-style-RJE_R001CORP_accordion{
	> .smb-accordion__item{
		padding: #{i.px_to_rem(24) i.px_to_rem(20)};
		border: 1px solid #CFCFCF;
		@include i.mq(md){
			padding-right: #{i.px_to_rem(40)};
			padding-left: #{i.px_to_rem(40)};
		}
		&:not(:first-child){
			margin-top: #{i.px_to_rem(24)};
		}
		.smb-accordion__item__title{
			flex-direction: row-reverse;
			padding: 0;
			background-color: unset;
			font-weight: bold;
		}
		.smb-accordion__item__title__icon{
			position: relative;
			width: 15px;
			height: 15px;
			margin-right: #{i.px_to_rem(20)};
      margin-left: unset;
			&::before,
			&::after{
				content: "";
				position: absolute;
				display: block;
				background-color: var(--accent-color, #000);
			}
			&::before{
				top: 7px;
				left: 0;
				width: 15px;
				height: 1px;
			}
			&::after{
				top: 0;
				left: 7px;
				width: 1px;
				height: 15px;
			}
			svg{
				display: none;
			}
		}
		.smb-accordion__item__body{
			margin-top: #{i.px_to_rem(24)};
			padding: #{i.px_to_rem(16)} 0 0;
			border-top: 1px solid #CFCFCF;
			@include i.mq(md){
				padding-top: #{i.px_to_rem(24)};
			}
		}
		//開閉コントロールチェックボックス
		.smb-accordion__item__control{
			&:checked{
				+.smb-accordion__item__title .smb-accordion__item__title__icon{
					transform: rotate(45deg);
					transform-origin: center;
				}
			}
		}
	}
}
