// ======================================================
//
// ブロックスタイル - 流れ（エディター固有のスタイル）
//
// ======================================================

// ------------------------------------------------------
// 設定・読み込み・変数など
// ------------------------------------------------------
@use "../../../../src/css/variable" as v;
@use "../../../../src/css/import" as i;

// ------------------------------------------------------
// スタイル
// ------------------------------------------------------
.is-style-RJE_R001CORP_steps{
	.smb-step__item__number{
		&::after{
			content: none;
		}
	}
}
//HACK:Wp5.9でiframeのプレビュー画面でもスタイルが読み込まれるように下記を追記
html :where(.editor-styles-wrapper) {
	display: block;
}